# sprint_2 challange

# task 1

In [266]:
import numpy as np
import pandas as pd

In [267]:
price_of_cars=pd.Series(np.random.randint(30000,50000,20),index=np.arange(101,121))
price_of_cars

101    32292
102    43129
103    42826
104    31526
105    44563
106    32767
107    36134
108    42233
109    33210
110    46247
111    38520
112    40901
113    45248
114    34540
115    35873
116    44705
117    30443
118    37397
119    37984
120    35784
dtype: int32

In [268]:
price_of_cars.sort_values(ascending=True)

117    30443
104    31526
101    32292
106    32767
109    33210
114    34540
120    35784
115    35873
107    36134
118    37397
119    37984
111    38520
112    40901
108    42233
103    42826
102    43129
105    44563
116    44705
113    45248
110    46247
dtype: int32

In [269]:
# task 2

In [270]:
price_of_cars[price_of_cars>40000]

102    43129
103    42826
105    44563
108    42233
110    46247
112    40901
113    45248
116    44705
dtype: int32

In [271]:
price_of_cars[price_of_cars>40000].count()

8

In [272]:
# task 3

In [273]:
# cars having model no's
price_of_cars[10:16]

111    38520
112    40901
113    45248
114    34540
115    35873
116    44705
dtype: int32

In [274]:
# task 4

In [275]:
price_of_cars[price_of_cars.between(30000,40000,inclusive=True)]

C:\Users\mail4\AppData\Local\Temp\ipykernel_20340\2282229941.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  price_of_cars[price_of_cars.between(30000,40000,inclusive=True)]

101    32292
104    31526
106    32767
107    36134
109    33210
111    38520
114    34540
115    35873
117    30443
118    37397
119    37984
120    35784
dtype: int32

In [276]:
# task 5

In [277]:
price_of_cars.mean()

38316.1

In [278]:
# task 6

In [279]:
model_no=[201,202,203]
price=[34000,45000,54000]
new_car=pd.Series(price,index=model_no)
new_car

201    34000
202    45000
203    54000
dtype: int64

In [280]:
price_of_cars=price_of_cars.append(new_car)
price_of_cars

C:\Users\mail4\AppData\Local\Temp\ipykernel_20340\1794804945.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  price_of_cars=price_of_cars.append(new_car)

101    32292
102    43129
103    42826
104    31526
105    44563
106    32767
107    36134
108    42233
109    33210
110    46247
111    38520
112    40901
113    45248
114    34540
115    35873
116    44705
117    30443
118    37397
119    37984
120    35784
201    34000
202    45000
203    54000
dtype: int64

In [281]:
price_of_cars.sort_values(ascending=True)

117    30443
104    31526
101    32292
106    32767
109    33210
201    34000
114    34540
120    35784
115    35873
107    36134
118    37397
119    37984
111    38520
112    40901
108    42233
103    42826
102    43129
105    44563
116    44705
202    45000
113    45248
110    46247
203    54000
dtype: int64

In [282]:
# task 7

In [283]:
price_of_cars[price_of_cars>40000]

102    43129
103    42826
105    44563
108    42233
110    46247
112    40901
113    45248
116    44705
202    45000
203    54000
dtype: int64

In [284]:
x=price_of_cars*10/100
x

101    3229.2
102    4312.9
103    4282.6
104    3152.6
105    4456.3
106    3276.7
107    3613.4
108    4223.3
109    3321.0
110    4624.7
111    3852.0
112    4090.1
113    4524.8
114    3454.0
115    3587.3
116    4470.5
117    3044.3
118    3739.7
119    3798.4
120    3578.4
201    3400.0
202    4500.0
203    5400.0
dtype: float64

In [285]:
y=price_of_cars-x
y

101    29062.8
102    38816.1
103    38543.4
104    28373.4
105    40106.7
106    29490.3
107    32520.6
108    38009.7
109    29889.0
110    41622.3
111    34668.0
112    36810.9
113    40723.2
114    31086.0
115    32285.7
116    40234.5
117    27398.7
118    33657.3
119    34185.6
120    32205.6
201    30600.0
202    40500.0
203    48600.0
dtype: float64

In [286]:
pd.DataFrame(price_of_cars,columns=["price"])
df["Discount"]=x
df["After Discount"]=y
df

     price  Discount  After Discount
101  31703    3229.2         29062.8
102  32892    4312.9         38816.1
103  31243    4282.6         38543.4
104  41837    3152.6         28373.4
105  34233    4456.3         40106.7
106  31176    3276.7         29490.3
107  45126    3613.4         32520.6
108  31736    4223.3         38009.7
109  40764    3321.0         29889.0
110  37259    4624.7         41622.3
111  31104    3852.0         34668.0
112  46232    4090.1         36810.9
113  35226    4524.8         40723.2
114  46841    3454.0         31086.0
115  43493    3587.3         32285.7
116  39890    4470.5         40234.5
117  48808    3044.3         27398.7
118  38903    3739.7         33657.3
119  43934    3798.4         34185.6
120  49732    3578.4         32205.6
201  34000    3400.0         30600.0
202  45000    4500.0         40500.0
203  54000    5400.0         48600.0

In [287]:
# task 8

In [293]:
price_of_cars[(price_of_cars>30000) & (price_of_cars<40000)]# Before Discount
price_of_cars

101    32292
102    43129
103    42826
104    31526
105    44563
106    32767
107    36134
108    42233
109    33210
110    46247
111    38520
112    40901
113    45248
114    34540
115    35873
116    44705
117    30443
118    37397
119    37984
120    35784
201    34000
202    45000
203    54000
dtype: int64

In [289]:
price_of_cars.size

23

In [294]:
y[(y>30000) & (y<40000)]# After Discount
y

101    29062.8
102    38816.1
103    38543.4
104    28373.4
105    40106.7
106    29490.3
107    32520.6
108    38009.7
109    29889.0
110    41622.3
111    34668.0
112    36810.9
113    40723.2
114    31086.0
115    32285.7
116    40234.5
117    27398.7
118    33657.3
119    34185.6
120    32205.6
201    30600.0
202    40500.0
203    48600.0
dtype: float64

In [291]:
price_of_cars.size

23

In [ ]:
# task 9 # least top five cars

In [297]:
df=price_of_cars.sort_values(ascending=True)[:5]
df

117    30443
104    31526
101    32292
106    32767
109    33210
dtype: int64

In [263]:
#method 2(#task 7)
x=list(map(lambda x: x*.10 if x>40000 else 0,price_of_cars))
df=pd.DataFrame(price_of_cars,columns=["price"])
df["Discount"]=x
df["After Discount"]=df["price"]-df["Discount"]
df

     price  Discount  After Discount
101  31703       0.0         31703.0
102  32892       0.0         32892.0
103  31243       0.0         31243.0
104  41837    4183.7         37653.3
105  34233       0.0         34233.0
106  31176       0.0         31176.0
107  45126    4512.6         40613.4
108  31736       0.0         31736.0
109  40764    4076.4         36687.6
110  37259       0.0         37259.0
111  31104       0.0         31104.0
112  46232    4623.2         41608.8
113  35226       0.0         35226.0
114  46841    4684.1         42156.9
115  43493    4349.3         39143.7
116  39890       0.0         39890.0
117  48808    4880.8         43927.2
118  38903       0.0         38903.0
119  43934    4393.4         39540.6
120  49732    4973.2         44758.8
201  34000       0.0         34000.0
202  45000    4500.0         40500.0
203  54000    5400.0         48600.0