# sprint_2 practice

# task 1

In [25]:
import numpy as np
import pandas as pd

In [26]:
students_ID=pd.Series(np.arange(1,41),index=np.arange(1001,1041))
students_ID

1001     1
1002     2
1003     3
1004     4
1005     5
1006     6
1007     7
1008     8
1009     9
1010    10
1011    11
1012    12
1013    13
1014    14
1015    15
1016    16
1017    17
1018    18
1019    19
1020    20
1021    21
1022    22
1023    23
1024    24
1025    25
1026    26
1027    27
1028    28
1029    29
1030    30
1031    31
1032    32
1033    33
1034    34
1035    35
1036    36
1037    37
1038    38
1039    39
1040    40
dtype: int32

# task 2

In [27]:
math1=pd.Series(np.random.randint(50,95,40),index=students_ID.index)
math1

1001    61
1002    81
1003    54
1004    58
1005    51
1006    58
1007    92
1008    72
1009    51
1010    52
1011    90
1012    66
1013    69
1014    93
1015    84
1016    76
1017    70
1018    60
1019    90
1020    89
1021    63
1022    74
1023    51
1024    80
1025    50
1026    65
1027    84
1028    53
1029    93
1030    61
1031    70
1032    84
1033    73
1034    91
1035    57
1036    86
1037    70
1038    93
1039    58
1040    67
dtype: int32

# task 3

In [28]:
physics1=pd.Series(np.random.randint(40,95,40),index=students_ID.index)
physics1

1001    77
1002    46
1003    74
1004    84
1005    44
1006    46
1007    57
1008    92
1009    53
1010    75
1011    54
1012    77
1013    89
1014    70
1015    75
1016    70
1017    94
1018    79
1019    85
1020    74
1021    94
1022    73
1023    78
1024    57
1025    42
1026    47
1027    92
1028    85
1029    64
1030    62
1031    82
1032    42
1033    42
1034    54
1035    45
1036    86
1037    91
1038    49
1039    53
1040    40
dtype: int32

# task 4

In [29]:
total_l1=math1+physics1
total_l1=total_l1[total_l1>=150]
total_l1

1008    164
1013    158
1014    163
1015    159
1017    164
1019    175
1020    163
1021    157
1027    176
1029    157
1031    152
1036    172
1037    161
dtype: int32

In [30]:
total_l1.size

13

# task 5

In [31]:
math2=pd.Series(np.random.randint(50,100,13),index=total_l1.index)
math2

1008    58
1013    85
1014    77
1015    97
1017    95
1019    62
1020    73
1021    84
1027    81
1029    84
1031    69
1036    98
1037    71
dtype: int32

In [33]:
physics2=pd.Series(np.random.randint(30,100,13),index=total_l1.index)
physics2

1008    95
1013    94
1014    66
1015    82
1017    92
1019    54
1020    72
1021    61
1027    88
1029    83
1031    36
1036    45
1037    51
dtype: int32

In [34]:
total_l2=math2+physics2+total_l1
total_l2

1008    317
1013    337
1014    306
1015    338
1017    351
1019    291
1020    308
1021    302
1027    345
1029    324
1031    257
1036    315
1037    283
dtype: int32

In [35]:
total_l2.size

13

# task 6

In [36]:
screening_test=total_l1+total_l2
screening_test[total_l1+total_l2>=300]
screening_test

1008    481
1013    495
1014    469
1015    497
1017    515
1019    466
1020    471
1021    459
1027    521
1029    481
1031    409
1036    487
1037    444
dtype: int32

In [37]:
screening_test.size

13

# task 7

In [38]:
math_screening_test=pd.Series(np.random.randint(60,100,13),index=screening_test.index)
screening_test

1008    481
1013    495
1014    469
1015    497
1017    515
1019    466
1020    471
1021    459
1027    521
1029    481
1031    409
1036    487
1037    444
dtype: int32

In [40]:
physics_screening_test=pd.Series(np.random.randint(75,100,13),index=screening_test.index)
screening_test

1008    481
1013    495
1014    469
1015    497
1017    515
1019    466
1020    471
1021    459
1027    521
1029    481
1031    409
1036    487
1037    444
dtype: int32

In [41]:
total_screening_test=math_screening_test+physics_screening_test
total_screening_test

1008    142
1013    187
1014    167
1015    163
1017    154
1019    149
1020    178
1021    168
1027    144
1029    159
1031    175
1036    172
1037    171
dtype: int32

In [42]:
final_score=((total_l2/400)*40)+((screening_test/200)*60)
final_score

1008    176.0
1013    182.2
1014    171.3
1015    182.9
1017    189.6
1019    168.9
1020    172.1
1021    167.9
1027    190.8
1029    176.7
1031    148.4
1036    177.6
1037    161.5
dtype: float64

# task 8

In [85]:
olympaid_event=final_score
olympaid_event[final_score>75]
final_score

1008    176.0
1013    182.2
1014    171.3
1015    182.9
1017    189.6
1019    168.9
1020    172.1
1021    167.9
1027    190.8
1029    176.7
1031    148.4
1036    177.6
1037    161.5
dtype: float64

In [87]:
olympaid_event.sort_index

<bound method Series.sort_index of 1008    176.0
1013    182.2
1014    171.3
1015    182.9
1017    189.6
1019    168.9
1020    172.1
1021    167.9
1027    190.8
1029    176.7
1031    148.4
1036    177.6
1037    161.5
dtype: float64>

# task 9

In [108]:
df=pd.DataFrame(olympaid_event,columns=["Total"])
df

      Total
1008  176.0
1013  182.2
1014  171.3
1015  182.9
1017  189.6
1019  168.9
1020  172.1
1021  167.9
1027  190.8
1029  176.7
1031  148.4
1036  177.6
1037  161.5

In [109]:
print('this is the detail of the qualified student with highest scorer :\n')
df=olympaid_event.sort_values(ascending=False).index[:1]
df=olympaid_event.sort_values(ascending=False)[0:1]
df

this is the detail of the qualified student with highest scorer :

1027    190.8
dtype: float64

In [117]:
print('this is the detail of the qualified student with lowest scorer :\n')
df=olympaid_event.sort_values(ascending=True).index[:1]
df=olympaid_event.sort_values(ascending=True)[0:1]
df

this is the detail of the qualified student with lowest scorer :

1031    148.4
dtype: float64